<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="station">
            <h2><span>Station</span> {{station.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{station.name}}</span>
                </dd>
                <dt><span>Company</span></dt>
                <dd>
                    <div *ngIf="station.company">
                        <a [routerLink]="['/company', station.company?.id, 'view']">{{station.company?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/station', station.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
